.gameboard-form {
  width: 100%;
}
.gameboard-form h1 {
  padding: 10px;
  text-align: center;

  font-family: arial;
  font-weight: 200;
}

.gameboard-info{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.character-info {
  display: grid; 
  grid-template-columns: 200px 1fr;
}

.character-info .coordinates {
  grid-column: 2 / 3;
}

.character-info button {
  grid-column: 2 / 3;
}

.content {
  display: flex;
  justify-content: center;
}
.content>div {
  width: 65%;
  display: flex;
  justify-content: center;
}

form * {
  margin: 2px;
}

#gameboard-preview-container {
  border: 1px solid black;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
}

#gameboard-preview {
  overflow: scroll;
}
