:root {
    --top-banner-height: 110px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  
  .banner, .login {
    position: relative;
    background: white;
    z-index: 500;
  }
  
  .banner {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--top-banner-height);
    width: 100vw;
  
    box-sizing: border-box;
    background-color: rgba(135, 206, 235, .98);
    box-shadow: 2px 2px 4px rgb(57, 178, 226);
  }
  
  .banner h1 {
    font-family: Helvetica;
    font-weight: 200;
    text-align: center;
  }
  
  .banner h1 a {
    text-decoration: none;
    color: inherit;
  }
  
  #login {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #login form {
    font-family: Arial;
    font-size: 12px;
  
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 8px;
    align-items: center;
  }
  
  #login form button {
    padding: 2px 20px;
    grid-column: 2/3;
    justify-self: end;
  }
  #login .welcome {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #login .welcome button, p {
    margin: 0;
    padding: 5px 15px;
  }
  
  #login .admin-links {
    text-align: right;
    padding: 10px;
  }
  
  .content {
    margin-top: var(--top-banner-height);
  }