.gameboard {
  width: fit-content;
  height: fit-content;

  /* cursor: none; */
}

.gameboard .gameboard-info {
  position: fixed;
  background-color: rgba(173, 216, 230, .8);
  padding: 10px 30px;
  padding-bottom: 20px;

  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 4px rgb(173, 216, 230);

}

.gameboard .gameboard-info h1 {
  font-size: 1.5em;
  font-weight: 200;
  margin: 5px;
}

.gameboard .gameboard-info p {
  font-family: arial;
  margin-left: 15px;
  padding: 0;
}

.gameboard .gameboard-info .characters {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.gameboard .gameboard-info .characters img {
  width: 30px;
}

.gameboard .gameboard-info p.found {
  text-decoration: line-through;
}

.gameboards {
  padding: 10px;
  height: 100vh;
  background-color: rgb(197, 229, 241);
}

.gameboards h1 {
  text-align: center;
  font-family: arial;
  font-weight: 200;
}
.gameboard-previews {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 30px;



}

.gameboard-previews .gameboard-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 350px;

  box-shadow: 0 0 4px 3px rgb(143, 143, 235);

  cursor: pointer;
}

.gameboard-previews .gameboard-preview img{
  width: 400px;
  max-height: 600px;
}
.target {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, .4);
  border: 3px dashed black;
  z-index: 5;
  margin: 0;
  padding: 0;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.bullseye {
  box-sizing: border-box;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

.character-list {
  position: absolute;
  display: none;
  z-index: 10;

  background-color: rgba(173, 216, 230, 0.8);

  border-radius: 20px;
  border-top-left-radius: 0;
  box-shadow: 2px 2px 4px rgb(173, 216, 230);
}

.character-list.active {
  display: block;
}

.character {
  padding: 5px 30px;
  cursor: pointer;
}

.character-list .character:first-child {
  border-top-right-radius: 20px;
}

.character-list .character:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.character:hover {
  background-color: lightskyblue;
}

.character.found {
  display: none;
}

.popup-message-container {
  position: fixed;
  top: calc(var(--top-banner-height) + 1px);
  
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-message-container.positive .message{
  background-color: rgb(108, 170, 108);
}

.popup-message-container.negative .message{
  background-color: rgb(238, 135, 135);
}

.popup-message-container .message {
  padding: 10px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


}

.popup-message-container .message p {
  margin: 0;
}
