:root {
  --top-banner-height: 85px;
}
body {
  margin: 0;
  padding: 0;
}

.banner, .login {
  position: relative;
  background: white;
  z-index: 500;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--top-banner-height);
  width: 100vw;

  box-sizing: border-box;
  background-color: skyblue;
  box-shadow: 2px 2px 4px rgb(89, 191, 231);
}

.banner h1 {
  font-family: Helvetica;
  font-weight: 200;
  text-align: center;
}

#login {
  position: absolute;
  top: 10px;
  right: 10px;
}

#login form {
  font-family: Arial;
  font-size: 12px;

  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
}

#login form button {
  padding: 2px 20px;
  grid-column: 2/3;
  justify-self: end;
}
#login .welcome {
  display: flex;
  align-items: center;
  gap: 10px;
}

#login .welcome button, p {
  margin: 0;
  padding: 5px 15px;
}

#login .admin-links {
  text-align: right;
  padding: 10px;
}

.content {
  margin-top: var(--top-banner-height);
}
.gameboard {
  width: fit-content;
  height: fit-content;

  /* cursor: none; */
}

.gameboard .gameboard-info {
  position: fixed;
  background-color: rgba(173, 216, 230, .8);
  padding: 10px 30px;
  padding-bottom: 20px;

  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 4px rgb(173, 216, 230);

}

.gameboard .gameboard-info h1 {
  font-size: 1.5em;
  font-weight: 200;
  margin: 5px;
}

.gameboard .gameboard-info p {
  font-family: arial;
  margin-left: 15px;
  padding: 0;
}

.gameboard .gameboard-info p.found {
  text-decoration: line-through;
}

.gameboards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  
  padding: 10px;

}

.gameboards .gameboard-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 350px;

  box-shadow: 0 0 4px 3px rgb(143, 143, 235);
}

.gameboards .gameboard-preview img{
  width: 400px;
  max-height: 600px;
}
.target {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, .4);
  border: 3px dashed black;
  z-index: 5;
  margin: 0;
  padding: 0;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.bullseye {
  box-sizing: border-box;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border: 2px solid red;
  margin: 0;
  padding: 0;
}

.character-list {
  position: absolute;
  display: none;
  z-index: 10;

  background-color: rgba(173, 216, 230, .8);

  border-radius: 20px;
  box-shadow: 2px 2px 4px rgb(173, 216, 230);
}

.character-list.active {
  display: block;
}

.character {
  padding: 5px 30px;
}
.character:hover {
  background-color: lightskyblue;
}

.character.found {
  display: none;
}

.popup-message-container {
  position: fixed;
  top: 75px;
  
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-message-container.positive .message{
  background-color: green;
}

.popup-message-container.negative .message{
  background-color: red;
}

.popup-message-container .message {
  padding: 10px 40px;
  border: 1px solid black;
}

.popup-message-container .message p {
  margin: 0;
}
